[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "dirent"]
	path = dirent
	url = https://github.com/tronkko/dirent
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
